<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNotificationUsersLabel" jhiTranslate="gatewayApp.notificationUsers.home.createOrEditLabel">Create or edit a Notification Users</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!notificationUsers.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="notificationUsers.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.deviceId" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                [(ngModel)]="notificationUsers.deviceId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.gmcRegId" for="field_gmcRegId">Gmc Reg Id</label>
            <input type="text" class="form-control" name="gmcRegId" id="field_gmcRegId"
                [(ngModel)]="notificationUsers.gmcRegId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.clientType" for="field_clientType">Client Type</label>
            <select class="form-control" name="clientType" [(ngModel)]="notificationUsers.clientType" id="field_clientType" >
                <option value="UNKNOW">{{'gatewayApp.NotificationUsersClientTypeEnum.UNKNOW' | translate}}</option>
                <option value="WEB">{{'gatewayApp.NotificationUsersClientTypeEnum.WEB' | translate}}</option>
                <option value="ANDROID">{{'gatewayApp.NotificationUsersClientTypeEnum.ANDROID' | translate}}</option>
                <option value="IOS">{{'gatewayApp.NotificationUsersClientTypeEnum.IOS' | translate}}</option>
                <option value="BLACKBERY">{{'gatewayApp.NotificationUsersClientTypeEnum.BLACKBERY' | translate}}</option>
                <option value="WINPHONE">{{'gatewayApp.NotificationUsersClientTypeEnum.WINPHONE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.ownerUserid" for="field_ownerUserid">Owner Userid</label>
            <input type="number" class="form-control" name="ownerUserid" id="field_ownerUserid"
                [(ngModel)]="notificationUsers.ownerUserid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.ownerUsername" for="field_ownerUsername">Owner Username</label>
            <input type="text" class="form-control" name="ownerUsername" id="field_ownerUsername"
                [(ngModel)]="notificationUsers.ownerUsername" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="notificationUsers.status" id="field_status" >
                <option value="ACTIVE">{{'gatewayApp.NotificationUsersStatusEnum.ACTIVE' | translate}}</option>
                <option value="UNACTIVE">{{'gatewayApp.NotificationUsersStatusEnum.UNACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.createdTime" for="field_createdTime">Created Time</label>
            <input type="number" class="form-control" name="createdTime" id="field_createdTime"
                [(ngModel)]="notificationUsers.createdTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.lastModifiedTime" for="field_lastModifiedTime">Last Modified Time</label>
            <input type="number" class="form-control" name="lastModifiedTime" id="field_lastModifiedTime"
                [(ngModel)]="notificationUsers.lastModifiedTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.notificationUsers.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="notificationUsers.reportDay" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
