
<div *ngIf="groupMembers">
    <h2><span jhiTranslate="gatewayApp.groupMembers.detail.title">Group Members</span> {{groupMembers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupId">Group Id</span></dt>
        <dd>
            <span>{{groupMembers.groupId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupType">Group Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.GroupType.' + groupMembers.groupType}}">{{groupMembers.groupType}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupName">Group Name</span></dt>
        <dd>
            <span>{{groupMembers.groupName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupIcon">Group Icon</span></dt>
        <dd>
            <span>{{groupMembers.groupIcon}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupSlogan">Group Slogan</span></dt>
        <dd>
            <span>{{groupMembers.groupSlogan}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.groupStatus">Group Status</span></dt>
        <dd>
            <span>{{groupMembers.groupStatus}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.ownerId">Owner Id</span></dt>
        <dd>
            <span>{{groupMembers.ownerId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.ownerLogin">Owner Login</span></dt>
        <dd>
            <span>{{groupMembers.ownerLogin}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.memberLists">Member Lists</span></dt>
        <dd>
            <span>{{groupMembers.memberLists}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.maxMember">Max Member</span></dt>
        <dd>
            <span>{{groupMembers.maxMember}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.memberCount">Member Count</span></dt>
        <dd>
            <span>{{groupMembers.memberCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.createdBy">Created By</span></dt>
        <dd>
            <span>{{groupMembers.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.createdDate">Created Date</span></dt>
        <dd>
            <span>{{groupMembers.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.createdUnixTime">Created Unix Time</span></dt>
        <dd>
            <span>{{groupMembers.createdUnixTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{groupMembers.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{groupMembers.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.lastModifiedUnixTime">Last Modified Unix Time</span></dt>
        <dd>
            <span>{{groupMembers.lastModifiedUnixTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.lastChatUnixTime">Last Chat Unix Time</span></dt>
        <dd>
            <span>{{groupMembers.lastChatUnixTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.groupMembers.reportDay">Report Day</span></dt>
        <dd>
            <span>{{groupMembers.reportDay}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'group-members/'+ groupMembers.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
