<div>
    <h2>
        <span jhiTranslate="gatewayApp.groupMembers.home.title">Group Members</span>
        <button class="btn btn-primary float-right jh-create-entity create-group-members" [routerLink]="['/', { outlets: { popup: ['group-members-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.groupMembers.home.createLabel">
            Create new Group Members
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="groupMembers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupId"><span jhiTranslate="gatewayApp.groupMembers.groupId">Group Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupType"><span jhiTranslate="gatewayApp.groupMembers.groupType">Group Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupName"><span jhiTranslate="gatewayApp.groupMembers.groupName">Group Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupIcon"><span jhiTranslate="gatewayApp.groupMembers.groupIcon">Group Icon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupSlogan"><span jhiTranslate="gatewayApp.groupMembers.groupSlogan">Group Slogan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupStatus"><span jhiTranslate="gatewayApp.groupMembers.groupStatus">Group Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerId"><span jhiTranslate="gatewayApp.groupMembers.ownerId">Owner Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerLogin"><span jhiTranslate="gatewayApp.groupMembers.ownerLogin">Owner Login</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memberLists"><span jhiTranslate="gatewayApp.groupMembers.memberLists">Member Lists</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxMember"><span jhiTranslate="gatewayApp.groupMembers.maxMember">Max Member</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memberCount"><span jhiTranslate="gatewayApp.groupMembers.memberCount">Member Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="gatewayApp.groupMembers.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="gatewayApp.groupMembers.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdUnixTime"><span jhiTranslate="gatewayApp.groupMembers.createdUnixTime">Created Unix Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="gatewayApp.groupMembers.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="gatewayApp.groupMembers.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedUnixTime"><span jhiTranslate="gatewayApp.groupMembers.lastModifiedUnixTime">Last Modified Unix Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastChatUnixTime"><span jhiTranslate="gatewayApp.groupMembers.lastChatUnixTime">Last Chat Unix Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reportDay"><span jhiTranslate="gatewayApp.groupMembers.reportDay">Report Day</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupMembers of groupMembers ;trackBy: trackId">
                <td><a [routerLink]="['../group-members', groupMembers.id ]">{{groupMembers.id}}</a></td>
                <td>{{groupMembers.groupId}}</td>
                <td jhiTranslate="{{'gatewayApp.GroupType.' + groupMembers.groupType}}">{{groupMembers.groupType}}</td>
                <td>{{groupMembers.groupName}}</td>
                <td>{{groupMembers.groupIcon}}</td>
                <td>{{groupMembers.groupSlogan}}</td>
                <td>{{groupMembers.groupStatus}}</td>
                <td>{{groupMembers.ownerId}}</td>
                <td>{{groupMembers.ownerLogin}}</td>
                <td>{{groupMembers.memberLists}}</td>
                <td>{{groupMembers.maxMember}}</td>
                <td>{{groupMembers.memberCount}}</td>
                <td>{{groupMembers.createdBy}}</td>
                <td>{{groupMembers.createdDate | date:'medium'}}</td>
                <td>{{groupMembers.createdUnixTime}}</td>
                <td>{{groupMembers.lastModifiedBy}}</td>
                <td>{{groupMembers.lastModifiedDate | date:'medium'}}</td>
                <td>{{groupMembers.lastModifiedUnixTime}}</td>
                <td>{{groupMembers.lastChatUnixTime}}</td>
                <td>{{groupMembers.reportDay}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../group-members', groupMembers.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'group-members/'+ groupMembers.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'group-members/'+ groupMembers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="groupMembers && groupMembers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
