<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGroupMembersLabel" jhiTranslate="gatewayApp.groupMembers.home.createOrEditLabel">Create or edit a Group Members</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!groupMembers.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="groupMembers.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupId" for="field_groupId">Group Id</label>
            <input type="text" class="form-control" name="groupId" id="field_groupId"
                [(ngModel)]="groupMembers.groupId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupType" for="field_groupType">Group Type</label>
            <select class="form-control" name="groupType" [(ngModel)]="groupMembers.groupType" id="field_groupType" >
                <option value="PUBLIC">{{'gatewayApp.GroupType.PUBLIC' | translate}}</option>
                <option value="FANPAGE">{{'gatewayApp.GroupType.FANPAGE' | translate}}</option>
                <option value="SECRET">{{'gatewayApp.GroupType.SECRET' | translate}}</option>
                <option value="NORMAL">{{'gatewayApp.GroupType.NORMAL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupName" for="field_groupName">Group Name</label>
            <input type="text" class="form-control" name="groupName" id="field_groupName"
                [(ngModel)]="groupMembers.groupName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupIcon" for="field_groupIcon">Group Icon</label>
            <input type="text" class="form-control" name="groupIcon" id="field_groupIcon"
                [(ngModel)]="groupMembers.groupIcon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupSlogan" for="field_groupSlogan">Group Slogan</label>
            <input type="text" class="form-control" name="groupSlogan" id="field_groupSlogan"
                [(ngModel)]="groupMembers.groupSlogan" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.groupStatus" for="field_groupStatus">Group Status</label>
            <input type="number" class="form-control" name="groupStatus" id="field_groupStatus"
                [(ngModel)]="groupMembers.groupStatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.ownerId" for="field_ownerId">Owner Id</label>
            <input type="number" class="form-control" name="ownerId" id="field_ownerId"
                [(ngModel)]="groupMembers.ownerId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.ownerLogin" for="field_ownerLogin">Owner Login</label>
            <input type="text" class="form-control" name="ownerLogin" id="field_ownerLogin"
                [(ngModel)]="groupMembers.ownerLogin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.memberLists" for="field_memberLists">Member Lists</label>
            <input type="text" class="form-control" name="memberLists" id="field_memberLists"
                [(ngModel)]="groupMembers.memberLists" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.maxMember" for="field_maxMember">Max Member</label>
            <input type="number" class="form-control" name="maxMember" id="field_maxMember"
                [(ngModel)]="groupMembers.maxMember" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.memberCount" for="field_memberCount">Member Count</label>
            <input type="number" class="form-control" name="memberCount" id="field_memberCount"
                [(ngModel)]="groupMembers.memberCount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="groupMembers.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="groupMembers.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.createdUnixTime" for="field_createdUnixTime">Created Unix Time</label>
            <input type="number" class="form-control" name="createdUnixTime" id="field_createdUnixTime"
                [(ngModel)]="groupMembers.createdUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="groupMembers.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="groupMembers.lastModifiedDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.lastModifiedUnixTime" for="field_lastModifiedUnixTime">Last Modified Unix Time</label>
            <input type="number" class="form-control" name="lastModifiedUnixTime" id="field_lastModifiedUnixTime"
                [(ngModel)]="groupMembers.lastModifiedUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.lastChatUnixTime" for="field_lastChatUnixTime">Last Chat Unix Time</label>
            <input type="number" class="form-control" name="lastChatUnixTime" id="field_lastChatUnixTime"
                [(ngModel)]="groupMembers.lastChatUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.groupMembers.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="groupMembers.reportDay" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
