<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFanpagesLabel" jhiTranslate="gatewayApp.fanpages.home.createOrEditLabel">Create or edit a Fanpages</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fanpages.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fanpages.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanpageId" for="field_fanpageId">Fanpage Id</label>
            <input type="text" class="form-control" name="fanpageId" id="field_fanpageId"
                [(ngModel)]="fanpages.fanpageId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanName" for="field_fanName">Fan Name</label>
            <input type="text" class="form-control" name="fanName" id="field_fanName"
                [(ngModel)]="fanpages.fanName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanUrl" for="field_fanUrl">Fan Url</label>
            <input type="text" class="form-control" name="fanUrl" id="field_fanUrl"
                [(ngModel)]="fanpages.fanUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanAbout" for="field_fanAbout">Fan About</label>
            <input type="text" class="form-control" name="fanAbout" id="field_fanAbout"
                [(ngModel)]="fanpages.fanAbout" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanIcon" for="field_fanIcon">Fan Icon</label>
            <input type="text" class="form-control" name="fanIcon" id="field_fanIcon"
                [(ngModel)]="fanpages.fanIcon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanThumbnail" for="field_fanThumbnail">Fan Thumbnail</label>
            <input type="text" class="form-control" name="fanThumbnail" id="field_fanThumbnail"
                [(ngModel)]="fanpages.fanThumbnail" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.fanStatus" for="field_fanStatus">Fan Status</label>
            <select class="form-control" name="fanStatus" [(ngModel)]="fanpages.fanStatus" id="field_fanStatus" >
                <option value="ACTIVE">{{'gatewayApp.FanpageStatus.ACTIVE' | translate}}</option>
                <option value="REPORT">{{'gatewayApp.FanpageStatus.REPORT' | translate}}</option>
                <option value="DELETED">{{'gatewayApp.FanpageStatus.DELETED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.memberList" for="field_memberList">Member List</label>
            <input type="text" class="form-control" name="memberList" id="field_memberList"
                [(ngModel)]="fanpages.memberList" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.memberCount" for="field_memberCount">Member Count</label>
            <input type="number" class="form-control" name="memberCount" id="field_memberCount"
                [(ngModel)]="fanpages.memberCount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.ownerId" for="field_ownerId">Owner Id</label>
            <input type="number" class="form-control" name="ownerId" id="field_ownerId"
                [(ngModel)]="fanpages.ownerId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.ownerLogin" for="field_ownerLogin">Owner Login</label>
            <input type="text" class="form-control" name="ownerLogin" id="field_ownerLogin"
                [(ngModel)]="fanpages.ownerLogin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="fanpages.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="fanpages.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.createdUnixTime" for="field_createdUnixTime">Created Unix Time</label>
            <input type="number" class="form-control" name="createdUnixTime" id="field_createdUnixTime"
                [(ngModel)]="fanpages.createdUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="fanpages.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="fanpages.lastModifiedDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.lastModifiedUnixTime" for="field_lastModifiedUnixTime">Last Modified Unix Time</label>
            <input type="number" class="form-control" name="lastModifiedUnixTime" id="field_lastModifiedUnixTime"
                [(ngModel)]="fanpages.lastModifiedUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.fanpages.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="fanpages.reportDay" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
