
<div *ngIf="fanpageStatistics">
    <h2><span jhiTranslate="gatewayApp.fanpageStatistics.detail.title">Fanpage Statistics</span> {{fanpageStatistics.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.seqId">Seq Id</span></dt>
        <dd>
            <span>{{fanpageStatistics.seqId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.dayCount">Day Count</span></dt>
        <dd>
            <span>{{fanpageStatistics.dayCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.monthCount">Month Count</span></dt>
        <dd>
            <span>{{fanpageStatistics.monthCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.yearCount">Year Count</span></dt>
        <dd>
            <span>{{fanpageStatistics.yearCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.inDay">In Day</span></dt>
        <dd>
            <span>{{fanpageStatistics.inDay}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.inMonth">In Month</span></dt>
        <dd>
            <span>{{fanpageStatistics.inMonth}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.inYear">In Year</span></dt>
        <dd>
            <span>{{fanpageStatistics.inYear}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.fanpageStatistics.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.CheckStatus.' + fanpageStatistics.status}}">{{fanpageStatistics.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fanpage-statistics/'+ fanpageStatistics.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
