
<div *ngIf="chatGroupStatistics">
    <h2><span jhiTranslate="gatewayApp.chatGroupStatistics.detail.title">Chat Group Statistics</span> {{chatGroupStatistics.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.seqId">Seq Id</span></dt>
        <dd>
            <span>{{chatGroupStatistics.seqId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.dayCount">Day Count</span></dt>
        <dd>
            <span>{{chatGroupStatistics.dayCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.monthCount">Month Count</span></dt>
        <dd>
            <span>{{chatGroupStatistics.monthCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.yearCount">Year Count</span></dt>
        <dd>
            <span>{{chatGroupStatistics.yearCount}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.inDay">In Day</span></dt>
        <dd>
            <span>{{chatGroupStatistics.inDay}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.inMonth">In Month</span></dt>
        <dd>
            <span>{{chatGroupStatistics.inMonth}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.inYear">In Year</span></dt>
        <dd>
            <span>{{chatGroupStatistics.inYear}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatGroupStatistics.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.CheckStatusEnum.' + chatGroupStatistics.status}}">{{chatGroupStatistics.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-group-statistics/'+ chatGroupStatistics.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
