<div>
    <h2>
        <span jhiTranslate="gatewayApp.chatmessages.home.title">Chatmessages</span>
        <button class="btn btn-primary float-right jh-create-entity create-chatmessages" [routerLink]="['/', { outlets: { popup: ['chatmessages-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.chatmessages.home.createLabel">
            Create new Chatmessages
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chatmessages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="seqId"><span jhiTranslate="gatewayApp.chatmessages.seqId">Seq Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageId"><span jhiTranslate="gatewayApp.chatmessages.messageId">Message Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupChatId"><span jhiTranslate="gatewayApp.chatmessages.groupChatId">Group Chat Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupType"><span jhiTranslate="gatewayApp.chatmessages.groupType">Group Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageValue"><span jhiTranslate="gatewayApp.chatmessages.messageValue">Message Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageType"><span jhiTranslate="gatewayApp.chatmessages.messageType">Message Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="messageStatus"><span jhiTranslate="gatewayApp.chatmessages.messageStatus">Message Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ownerUserName"><span jhiTranslate="gatewayApp.chatmessages.ownerUserName">Owner User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromUserId"><span jhiTranslate="gatewayApp.chatmessages.fromUserId">From User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromUserName"><span jhiTranslate="gatewayApp.chatmessages.fromUserName">From User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromFullName"><span jhiTranslate="gatewayApp.chatmessages.fromFullName">From Full Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toUserId"><span jhiTranslate="gatewayApp.chatmessages.toUserId">To User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toUserName"><span jhiTranslate="gatewayApp.chatmessages.toUserName">To User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdUnixTime"><span jhiTranslate="gatewayApp.chatmessages.createdUnixTime">Created Unix Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sendTime"><span jhiTranslate="gatewayApp.chatmessages.sendTime">Send Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="readTime"><span jhiTranslate="gatewayApp.chatmessages.readTime">Read Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="gatewayApp.chatmessages.createdTime">Created Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="gatewayApp.chatmessages.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedTime"><span jhiTranslate="gatewayApp.chatmessages.lastModifiedTime">Last Modified Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxSecondToAction"><span jhiTranslate="gatewayApp.chatmessages.maxSecondToAction">Max Second To Action</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reportDay"><span jhiTranslate="gatewayApp.chatmessages.reportDay">Report Day</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="likeCount"><span jhiTranslate="gatewayApp.chatmessages.likeCount">Like Count</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatmessages of chatmessages ;trackBy: trackId">
                <td><a [routerLink]="['../chatmessages', chatmessages.id ]">{{chatmessages.id}}</a></td>
                <td>{{chatmessages.seqId}}</td>
                <td>{{chatmessages.messageId}}</td>
                <td>{{chatmessages.groupChatId}}</td>
                <td jhiTranslate="{{'gatewayApp.GroupTypeEnum.' + chatmessages.groupType}}">{{chatmessages.groupType}}</td>
                <td>{{chatmessages.messageValue}}</td>
                <td jhiTranslate="{{'gatewayApp.ChatMessageTypeEnum.' + chatmessages.messageType}}">{{chatmessages.messageType}}</td>
                <td jhiTranslate="{{'gatewayApp.ChatMessageStatusEnum.' + chatmessages.messageStatus}}">{{chatmessages.messageStatus}}</td>
                <td>{{chatmessages.ownerUserName}}</td>
                <td>{{chatmessages.fromUserId}}</td>
                <td>{{chatmessages.fromUserName}}</td>
                <td>{{chatmessages.fromFullName}}</td>
                <td>{{chatmessages.toUserId}}</td>
                <td>{{chatmessages.toUserName}}</td>
                <td>{{chatmessages.createdUnixTime}}</td>
                <td>{{chatmessages.sendTime}}</td>
                <td>{{chatmessages.readTime}}</td>
                <td>{{chatmessages.createdTime}}</td>
                <td>{{chatmessages.lastModifiedBy}}</td>
                <td>{{chatmessages.lastModifiedTime}}</td>
                <td>{{chatmessages.maxSecondToAction}}</td>
                <td>{{chatmessages.reportDay}}</td>
                <td>{{chatmessages.likeCount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chatmessages', chatmessages.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chatmessages/'+ chatmessages.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chatmessages/'+ chatmessages.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="chatmessages && chatmessages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
