<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactsLabel" jhiTranslate="gatewayApp.contacts.home.createOrEditLabel">Create or edit a Contacts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!contacts.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contacts.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.ownerUserid" for="field_ownerUserid">Owner Userid</label>
            <input type="number" class="form-control" name="ownerUserid" id="field_ownerUserid"
                [(ngModel)]="contacts.ownerUserid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.ownerUsername" for="field_ownerUsername">Owner Username</label>
            <input type="text" class="form-control" name="ownerUsername" id="field_ownerUsername"
                [(ngModel)]="contacts.ownerUsername" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.friendLists" for="field_friendLists">Friend Lists</label>
            <input type="text" class="form-control" name="friendLists" id="field_friendLists"
                [(ngModel)]="contacts.friendLists" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.groupLists" for="field_groupLists">Group Lists</label>
            <input type="text" class="form-control" name="groupLists" id="field_groupLists"
                [(ngModel)]="contacts.groupLists" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.createdTime" for="field_createdTime">Created Time</label>
            <input type="number" class="form-control" name="createdTime" id="field_createdTime"
                [(ngModel)]="contacts.createdTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.lastModifiedTime" for="field_lastModifiedTime">Last Modified Time</label>
            <input type="number" class="form-control" name="lastModifiedTime" id="field_lastModifiedTime"
                [(ngModel)]="contacts.lastModifiedTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="contacts.reportDay" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
