<div>
    <h2>
        <span jhiTranslate="gatewayApp.contacts.home.title">Contacts</span>
        <button class="btn btn-primary float-right jh-create-entity create-contacts" [routerLink]="['/', { outlets: { popup: ['contacts-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.contacts.home.createLabel">
            Create new Contacts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contacts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
                <th jhiSortBy="ownerUserid"><span jhiTranslate="gatewayApp.contacts.ownerUserid">Owner Userid</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="ownerUsername"><span jhiTranslate="gatewayApp.contacts.ownerUsername">Owner Username</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="friendLists"><span jhiTranslate="gatewayApp.contacts.friendLists">Friend Lists</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="groupLists"><span jhiTranslate="gatewayApp.contacts.groupLists">Group Lists</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="createdTime"><span jhiTranslate="gatewayApp.contacts.createdTime">Created Time</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="lastModifiedTime"><span jhiTranslate="gatewayApp.contacts.lastModifiedTime">Last Modified Time</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="reportDay"><span jhiTranslate="gatewayApp.contacts.reportDay">Report Day</span> <span class="fa fa-sort"></span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contacts of contacts ;trackBy: trackId">
                    <!--<td><a [routerLink]="['../contacts', contacts.ownerUsername ]">{{contacts.id}}</a></td>-->
                <td>{{contacts.ownerUserid}}</td>
                <td>{{contacts.ownerUsername}}</td>
                <td>{{contacts.friendLists}}</td>
                <td>{{contacts.groupLists}}</td>
                <td>{{contacts.createdTime}}</td>
                <td>{{contacts.lastModifiedTime}}</td>
                <td>{{contacts.reportDay}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contacts', contacts.ownerUserid ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contacts/'+ contacts.ownerUserid + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contacts/'+ contacts.ownerUserid + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contacts && contacts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
