
<div *ngIf="contacts">
    <h2><span jhiTranslate="gatewayApp.contacts.detail.title">Contacts</span> {{contacts.ownerUsername}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.contacts.ownerUserid">Owner Userid</span></dt>
        <dd>
            <span>{{contacts.ownerUserid}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.ownerUsername">Owner Username</span></dt>
        <dd>
            <span>{{contacts.ownerUsername}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.friendLists">Friend Lists</span></dt>
        <dd>
            <span>{{contacts.friendLists}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.groupLists">Group Lists</span></dt>
        <dd>
            <span>{{contacts.groupLists}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.createdTime">Created Time</span></dt>
        <dd>
            <span>{{contacts.createdTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.lastModifiedTime">Last Modified Time</span></dt>
        <dd>
            <span>{{contacts.lastModifiedTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.contacts.reportDay">Report Day</span></dt>
        <dd>
            <span>{{contacts.reportDay}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contacts/'+ contacts.ownerUsername + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
