<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactsLabel" jhiTranslate="gatewayApp.contacts.home.createOrEditLabel">Create or edit a Contacts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contacts.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contacts.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.seqId" for="field_seqId">Seq Id</label>
            <input type="text" class="form-control" name="seqId" id="field_seqId"
                [(ngModel)]="contacts.seqId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.ownerId" for="field_ownerId">Owner Id</label>
            <input type="number" class="form-control" name="ownerId" id="field_ownerId"
                [(ngModel)]="contacts.ownerId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.ownerLogin" for="field_ownerLogin">Owner Login</label>
            <input type="text" class="form-control" name="ownerLogin" id="field_ownerLogin"
                [(ngModel)]="contacts.ownerLogin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.contactLists" for="field_contactLists">Contact Lists</label>
            <input type="text" class="form-control" name="contactLists" id="field_contactLists"
                [(ngModel)]="contacts.contactLists" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.contactCount" for="field_contactCount">Contact Count</label>
            <input type="number" class="form-control" name="contactCount" id="field_contactCount"
                [(ngModel)]="contacts.contactCount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="contacts.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="contacts.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.createdUnixTime" for="field_createdUnixTime">Created Unix Time</label>
            <input type="number" class="form-control" name="createdUnixTime" id="field_createdUnixTime"
                [(ngModel)]="contacts.createdUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="contacts.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="contacts.lastModifiedDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.lastModifiedUnixTime" for="field_lastModifiedUnixTime">Last Modified Unix Time</label>
            <input type="number" class="form-control" name="lastModifiedUnixTime" id="field_lastModifiedUnixTime"
                [(ngModel)]="contacts.lastModifiedUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.contacts.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="contacts.reportDay" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
