<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChatMessagesLabel" jhiTranslate="gatewayApp.chatMessages.home.createOrEditLabel">Create or edit a Chat Messages</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!chatMessages.id">
            <label for="id" jhiTranslate="global.field.seqId">Seq ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chatMessages.id" readonly />
        </div>-->
        <div class="form-group" [hidden]="!chatMessages.seqId">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.seqId" for="field_seqId">Seq Id</label>
            <input type="text" class="form-control" name="seqId" id="field_seqId"
                [(ngModel)]="chatMessages.seqId" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.messageId" for="field_messageId">Message Id</label>
            <input type="text" class="form-control" name="messageId" id="field_messageId"
                [(ngModel)]="chatMessages.messageId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.groupChatId" for="field_groupChatId">Group Chat Id</label>
            <input type="text" class="form-control" name="groupChatId" id="field_groupChatId"
                [(ngModel)]="chatMessages.groupChatId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.groupType" for="field_groupType">Group Type</label>
            <select class="form-control" name="groupType" [(ngModel)]="chatMessages.groupType" id="field_groupType" >
                <option value="PUBLIC">{{'gatewayApp.GroupTypeEnum.PUBLIC' | translate}}</option>
                <option value="FANPAGE">{{'gatewayApp.GroupTypeEnum.FANPAGE' | translate}}</option>
                <option value="SECRET">{{'gatewayApp.GroupTypeEnum.SECRET' | translate}}</option>
                <option value="PEERTOPEER">{{'gatewayApp.GroupTypeEnum.PEERTOPEER' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.messageValue" for="field_messageValue">Message Value</label>
            <input type="text" class="form-control" name="messageValue" id="field_messageValue"
                [(ngModel)]="chatMessages.messageValue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.messageType" for="field_messageType">Message Type</label>
            <select class="form-control" name="messageType" [(ngModel)]="chatMessages.messageType" id="field_messageType" >
                <option value="TEXT">{{'gatewayApp.ChatMessageTypeEnum.TEXT' | translate}}</option>
                <option value="FILE">{{'gatewayApp.ChatMessageTypeEnum.FILE' | translate}}</option>
                <option value="QRCODE">{{'gatewayApp.ChatMessageTypeEnum.QRCODE' | translate}}</option>
                <option value="EDIT">{{'gatewayApp.ChatMessageTypeEnum.EDIT' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.messageStatus" for="field_messageStatus">Message Status</label>
            <select class="form-control" name="messageStatus" [(ngModel)]="chatMessages.messageStatus" id="field_messageStatus" >
                <option value="UNKNOW">{{'gatewayApp.ChatMessageStatusEnum.UNKNOW' | translate}}</option>
                <option value="NOTRECEIVED">{{'gatewayApp.ChatMessageStatusEnum.NOTRECEIVED' | translate}}</option>
                <option value="RECEIVED">{{'gatewayApp.ChatMessageStatusEnum.RECEIVED' | translate}}</option>
                <option value="UNREAD">{{'gatewayApp.ChatMessageStatusEnum.UNREAD' | translate}}</option>
                <option value="READED">{{'gatewayApp.ChatMessageStatusEnum.READED' | translate}}</option>
                <option value="EDITED">{{'gatewayApp.ChatMessageStatusEnum.EDITED' | translate}}</option>
                <option value="PINING">{{'gatewayApp.ChatMessageStatusEnum.PINING' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.ownerUserName" for="field_ownerUserName">Owner User Name</label>
            <input type="text" class="form-control" name="ownerUserName" id="field_ownerUserName"
                [(ngModel)]="chatMessages.ownerUserName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.fromUserId" for="field_fromUserId">From User Id</label>
            <input type="number" class="form-control" name="fromUserId" id="field_fromUserId"
                [(ngModel)]="chatMessages.fromUserId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.fromUserName" for="field_fromUserName">From User Name</label>
            <input type="text" class="form-control" name="fromUserName" id="field_fromUserName"
                [(ngModel)]="chatMessages.fromUserName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.fromFullName" for="field_fromFullName">From Full Name</label>
            <input type="text" class="form-control" name="fromFullName" id="field_fromFullName"
                [(ngModel)]="chatMessages.fromFullName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.toUserId" for="field_toUserId">To User Id</label>
            <input type="number" class="form-control" name="toUserId" id="field_toUserId"
                [(ngModel)]="chatMessages.toUserId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.toUserName" for="field_toUserName">To User Name</label>
            <input type="text" class="form-control" name="toUserName" id="field_toUserName"
                [(ngModel)]="chatMessages.toUserName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.createdUnixTime" for="field_createdUnixTime">Created Unix Time</label>
            <input type="number" class="form-control" name="createdUnixTime" id="field_createdUnixTime"
                [(ngModel)]="chatMessages.createdUnixTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.sendTime" for="field_sendTime">Send Time</label>
            <input type="text" class="form-control" name="sendTime" id="field_sendTime"
                [(ngModel)]="chatMessages.sendTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.readTime" for="field_readTime">Read Time</label>
            <input type="text" class="form-control" name="readTime" id="field_readTime"
                [(ngModel)]="chatMessages.readTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.createdTime" for="field_createdTime">Created Time</label>
            <input type="number" class="form-control" name="createdTime" id="field_createdTime"
                [(ngModel)]="chatMessages.createdTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="chatMessages.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.lastModifiedTime" for="field_lastModifiedTime">Last Modified Time</label>
            <input type="number" class="form-control" name="lastModifiedTime" id="field_lastModifiedTime"
                [(ngModel)]="chatMessages.lastModifiedTime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.maxSecondToAction" for="field_maxSecondToAction">Max Second To Action</label>
            <input type="number" class="form-control" name="maxSecondToAction" id="field_maxSecondToAction"
                [(ngModel)]="chatMessages.maxSecondToAction" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.reportDay" for="field_reportDay">Report Day</label>
            <input type="number" class="form-control" name="reportDay" id="field_reportDay"
                [(ngModel)]="chatMessages.reportDay" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.chatMessages.likeCount" for="field_likeCount">Like Count</label>
            <input type="number" class="form-control" name="likeCount" id="field_likeCount"
                [(ngModel)]="chatMessages.likeCount" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
