
<div *ngIf="chatMessages">
    <h2><span jhiTranslate="gatewayApp.chatMessages.detail.title">Chat Messages</span> {{chatMessages.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.chatMessages.seqId">Seq Id</span></dt>
        <dd>
            <span>{{chatMessages.seqId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.messageId">Message Id</span></dt>
        <dd>
            <span>{{chatMessages.messageId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.groupChatId">Group Chat Id</span></dt>
        <dd>
            <span>{{chatMessages.groupChatId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.groupType">Group Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.GroupTypeEnum.' + chatMessages.groupType}}">{{chatMessages.groupType}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.messageValue">Message Value</span></dt>
        <dd>
            <span>{{chatMessages.messageValue}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.messageType">Message Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.ChatMessageTypeEnum.' + chatMessages.messageType}}">{{chatMessages.messageType}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.messageStatus">Message Status</span></dt>
        <dd>
            <span jhiTranslate="{{'gatewayApp.ChatMessageStatusEnum.' + chatMessages.messageStatus}}">{{chatMessages.messageStatus}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.ownerUserName">Owner User Name</span></dt>
        <dd>
            <span>{{chatMessages.ownerUserName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.fromUserId">From User Id</span></dt>
        <dd>
            <span>{{chatMessages.fromUserId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.fromUserName">From User Name</span></dt>
        <dd>
            <span>{{chatMessages.fromUserName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.fromFullName">From Full Name</span></dt>
        <dd>
            <span>{{chatMessages.fromFullName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.toUserId">To User Id</span></dt>
        <dd>
            <span>{{chatMessages.toUserId}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.toUserName">To User Name</span></dt>
        <dd>
            <span>{{chatMessages.toUserName}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.createdUnixTime">Created Unix Time</span></dt>
        <dd>
            <span>{{chatMessages.createdUnixTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.sendTime">Send Time</span></dt>
        <dd>
            <span>{{chatMessages.sendTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.readTime">Read Time</span></dt>
        <dd>
            <span>{{chatMessages.readTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.createdTime">Created Time</span></dt>
        <dd>
            <span>{{chatMessages.createdTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{chatMessages.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.lastModifiedTime">Last Modified Time</span></dt>
        <dd>
            <span>{{chatMessages.lastModifiedTime}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.maxSecondToAction">Max Second To Action</span></dt>
        <dd>
            <span>{{chatMessages.maxSecondToAction}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.reportDay">Report Day</span></dt>
        <dd>
            <span>{{chatMessages.reportDay}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.chatMessages.likeCount">Like Count</span></dt>
        <dd>
            <span>{{chatMessages.likeCount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-messages/'+ chatMessages.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
